<app-header></app-header>
<div class="main-container">
  <app-sidebar *ngIf="isSidebarVisible && !isMobileView"></app-sidebar>
  <div class="content">
    <ng-container *ngIf="voluntaryUsers && voluntaryUsers.length > 0; else noDataTemplate">
      <app-directory-card 
        *ngFor="let user of voluntaryUsers"
        [user_name]="user.name + ' ' + user.last_name"
        [description]="user.speciality || 'Sin especialidad'"
        [phone_number]="user.phone || 'Sin teléfono'"
        [email]="user.email"
        (messageClicked)="onMessageClicked($event)">
      </app-directory-card>
    </ng-container>
    <ng-template #noDataTemplate>
      <p class="no-data">No hay usuarios voluntarios disponibles.</p>
    </ng-template>
  </div>
</div>

<footer *ngIf="isMobileView" class="footer-menu">
  <app-footer-menu></app-footer-menu>
</footer>