<app-header></app-header>
<div class="main-container">
    <app-sidebar *ngIf="isSidebarVisible && !isMobileView"></app-sidebar>
    <div class="content">
        <ng-container *ngFor="let publication of publications">
            <app-publication-card 
                [photo_profile]="publication.image" 
                [user_name]="publication.user_id"
                [description]="publication.description" 
                [image]="publication.image">
            </app-publication-card>
        </ng-container>
    </div>
</div>

<button class="floating-button" (click)="openPublicationDialog()">
    <i class="fas fa-plus"></i>
</button>

<div class="notes">
    <app-note-card
      *ngFor="let note of notes"
      [title]="note.title"
      [content]="note.description"
      (share)="onShare($event)">
    </app-note-card>
</div>

<div class="agregar-publication-modal" [ngClass]="{'show': isModalOpen}">
    <img src="CASM.png" alt="logo" class="logo">
  
    <h1 class="title-modal">Agregar Publicación</h1>
  
    <label for="description" class="label-input">Ingresa la descripción</label>
    <input type="text" id="description" placeholder="Descripción de la publicación" class="input-text">
  
    <label for="content" class="label-input">Agrega una imagen</label>
    <input type="file" id="content" placeholder="Agrega una imagen" class="publication-image">
  
    <button class="btn-cancel" (click)="closePublicationDialog()">
      <i class="fas fa-times"></i> Cancelar
    </button>
  
    <button>
      <i class="fas fa-save"></i> Publicar
    </button>
  </div>

<footer *ngIf="isMobileView" class="footer-menu">
    <ul class="footer-ul">
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_notes($event)"><i class="fas fa-edit"></i> Agregar Nota</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_favorites($event)"><i class="fas fa-heart"></i> Favoritos</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_feed($event)"><i class="fas fa-newspaper"></i> Publicaciones</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_chat($event)"><i class="fas fa-paper-plane"></i> Chat</a>
        </li>
    </ul>
</footer>
