<header class="header-class">
    <img class="header-class-img" src="CASM.png" alt="Logo CASM" (click)="redirect_to_home($event)" />
    
    <nav class="nav-class">
      <!-- Si el usuario está logeado, mostrar estas opciones -->
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <div class="nav-class" *ngIf="!isMobileView">
          <a class="nav-class-a" (click)="redirect_to_profile($event)">Perfil</a>
          <a class="nav-class-a" (click)="redirect_to_home($event)">Inicio</a>
          <a class="nav-class-a" (click)="redirect_to_directory($event)">Directorio</a>
          <a class="nav-class-a" (click)="redirect_to_premium($event)">Premium</a>
          <a class="nav-class-a" (click)="logout($event)">Cerrar Sesión</a>
        </div>
        <!-- Foto de perfil y menú móvil -->
        <div class="user-section">
          <img
            [src]="userProfileImage" 
            alt="User Profile" 
            class="user-profile-img"
            (click)="toggleMobileMenu()" 
          />

          
          <!-- Menú móvil desplegable -->
          <div 
            class="mobile-menu" 
            [class.open]="isMobileMenuOpen"
          >
            <a class="nav-class-a" (click)="redirect_to_profile($event)">Perfil</a>
            <a class="nav-class-a" (click)="redirect_to_home($event)">Inicio</a>
            <a class="nav-class-a" (click)="redirect_to_directory($event)">Directorio</a>
            <a class="nav-class-a" (click)="redirect_to_premium($event)">Premium</a>
            <a class="nav-class-a" (click)="logout($event)">Cerrar Sesión</a>
          </div>
        </div>
      </ng-container>
  
      <!-- Si el usuario NO está logeado, mostrar estas opciones -->
      <ng-template #loggedOut>
        <a class="nav-class-a" (click)="redirect_to_about($event)">Acerca de</a>
        <a class="nav-class-a" (click)="redirect_to_login($event)">Inicia Sesión</a>
      </ng-template>
    </nav>
  </header>
  