<app-header></app-header>
<app-head></app-head>
<div class="main-container">
    <app-sidebar *ngIf="isSidebarVisible && !isMobileView"></app-sidebar>
    <div class="content">
        <ng-container *ngFor="let publication of publications">
            <app-publication-card 
                [photo_profile]="publication.profile_img"
                [user_name]="publication.user_name"
                [description]="publication.description" 
                [image]="publication.image">
            </app-publication-card>
        </ng-container>
    </div>
</div>

<footer *ngIf="isMobileView" class="footer-menu">
    <app-footer-menu></app-footer-menu>
</footer>