<app-header></app-header>
<div class="main-container">
  <app-sidebar *ngIf="isSidebarVisible && !isMobileView"></app-sidebar>

  <div class="favorites-container">
    <div *ngFor="let item of favoriteItems; trackBy: trackById">
      <app-favorite-card
        [itemData]="item.itemData"
        [type]="item.type"
        (onFavoriteRemoved)="removeFromFavorites($event)"
      ></app-favorite-card>
    </div>
  </div>
  
</div>

<footer *ngIf="isMobileView" class="footer-menu">
  <app-footer-menu/>
</footer>
