<app-header></app-header>
<section class="register-container">
    <div class="register-box">
        <h2 class="register-box-h2">Crear Cuenta</h2>
        <form>
            <input class="register-box-input" type="text" id="name" name="name" placeholder="Nombre(s)" required>
        
            <input class="register-box-input" type="text" id="last_name" name="last_name" placeholder="Apellido(s)" required>
        
            <input class="register-box-input" type="email" id="email" name="email" placeholder="Correo Electrónico" required>
        
            <input class="register-box-input" type="password" id="password" name="password" placeholder="Contraseña" required>
        
            <button class="register-box-button" type="button" (click)="registerUser($event)">Registrar</button>
        </form>
        
        <div class="register-professional">
            <p>¿Eres un profesional de la salud mental? <a class="register-professional-a" (click)="redirect_to($event)">Regístrate como profesional voluntario</a></p>
        </div>
    </div>
</section>
<app-footer></app-footer>
