.payment-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f8ff, #e6f0ff);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 -10px 15px rgba(255, 255, 255, 0.5);
  border: 1px solid #dbe7f3;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
}

input{
  max-width: 95%;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #a8c2e1;
  border-radius: 6px;
  transition: 0.3s ease;
}

.form-control:focus {
  border-color: #003366;
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
  outline: none;
}

label {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  color: #003366;
  margin-bottom: 5px;
  display: block;
}

small {
  color: #ff5e5e;
  font-size: 12px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-primary:disabled {
  background-color: #a8c2e1;
  cursor: not-allowed;
}

.alert-success {
  color: #003366;
  background-color: #d4f1f9;
  border-color: #a8c2e1;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
