<div class="favorite-card">
    <ng-container *ngIf="type === 'publication'">
      <div class="publication-card">
        <p class="description">{{ itemData.description }}</p>
        <img class="post-img" [src]="formatImageUrl(itemData.image)" alt="post-image" />
      </div>
    </ng-container>
  
    <ng-container *ngIf="type === 'note'">
      <div class="note-card">
        <h4>{{ itemData.title }}</h4>
        <p>{{ itemData.content }}</p>
      </div>
    </ng-container>
  
    <button class="favorite-button" (click)="toggleFavorite()">
      <img
        *ngIf="isFavorite"
        class="icon-flaticon"
        src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png"
        alt="Remove from favorites"
      />
      <img
        *ngIf="!isFavorite"
        class="icon-flaticon"
        src="https://cdn-icons-png.flaticon.com/512/1828/1828970.png"
        alt="Add to favorites"
      />
    </button>
  </div>
  