.favorite-card {
    width: 280px;
    height: 340px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
  }
  
  .publication-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Contenedor de la imagen */
  .post-img {
    width: 100%;            /* La imagen ocupará el ancho total del contenedor */
    height: 200px;          /* Altura fija para uniformidad */
    object-fit: contain;    /* Mostrar la imagen completa sin recorte */
    object-position: center;/* Centrar la imagen en caso de espacio vacío */
    border-radius: 10px;    /* Bordes redondeados */
    background-color: #f0f0f0; /* Fondo neutral para espacios vacíos */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  .favorite-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  }
  
  .favorite-card p.description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Estilización de la tarjeta de notas */
  .favorite-card .note-card {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .favorite-card button {
    margin-top: 15px;
    height: 45px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }
  
  .favorite-card button:hover {
    transform: scale(1.1);
  }
  
  .favorite-card .icon-flaticon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }
  
  .favorite-card button:hover .icon-flaticon {
    transform: scale(1.2);
  }
  
  .favorite-card .empty path {
    fill: #cccccc;
  }
  
  .favorite-card .filled path {
    fill: #ff4757;
  }
  
  .favorite-card .profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  